<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Senate Score'd</title>
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <script src="/assets/js/app.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
