<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Senate Score'd</title>
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <script src="/assets/js/app.js"></script>
</head>
<body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1724449767833013',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <ul>
    {{#if currentUser}}
    <li><a href="/logout">Logout {{currentUser.local.email}}</a></li>
    {{else}}
    <li><a href="/login">Login</a> | <a href="/signup">Signup</a></li>
    <li>Signup / Login with: <a href="/auth/facebook">Facebook</a></li>
    {{/if}}
  </ul>
  <h2><a href="/senators">Senate Scorecard</a></h2>
  {{{body}}}

</body>
</html>
