<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>SenateScore</title>
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="assets/imgs/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/imgs/favicon.png">
  <link rel="icon" sizes="57x57" href="assets/imgs/favicon-32x32.png">
  <link rel="icon" sizes="57x57" href="assets/imgs/favicon-57x57.png">
  <link rel="icon" sizes="72x72" href="assets/imgs/favicon-72x72.png">
  <link rel="icon" sizes="76x76" href="assets/imgs/favicon-76x76.png">
  <link rel="icon" sizes="114x114" href="assets/imgs/favicon-114x114.png">
  <link rel="icon" sizes="120x120" href="assets/imgs/favicon-120x120.png">
  <link rel="icon" sizes="144x144" href="assets/imgs/favicon-144x144.png">
  <link rel="icon" sizes="152x152" href="assets/imgs/favicon-152x152.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="assets/imgs/favicon-144x144.png">
  <meta name="application-name" content="Website Title">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//d3js.org/d3.v4.0.0-alpha.18.min.js" charset="utf-8"></script>
  <script src="/assets/js/app.js"></script>
  <script src="assets/js/barChart.js"></script>
  <script src="assets/js/d3-iconarray.js"></script>
</head>
<body data-ng-app="senatescore">
  <div class="siteHeader">
    <div class="siteHeader__section">
      <div class="siteHeaderLogo">
        <a data-ui-sref="welcome"><img class="img-circle" src="assets/imgs/senscore_logo_v2.png"></a>
      </div>
      <div class="siteHeader__item siteHeaderButton inactive" padding: 5px 15px;>
        <a data-ui-sref="index">Home</a>
      </div>
      <!-- <div class="siteHeader__item siteHeaderButton">Reviews</div> -->
    </div>
    <!-- This section gets pushed to the right side-->
    <!-- <div class="siteHeader__section">
      <div class="siteHeader__item siteHeaderButton inactive" data-ng-if="currentUser">
        <div ng-controller="logoutController">
          <a data-ng-click='logout()'>Logout</a>
        </div>
      </div>
      <div class="siteHeader__item siteHeaderButton" data-ng-if="!currentUser">
        <a href="/login">Login</a>
      </div>
    </div> -->
  </div>
</div>
</div>

<main data-ui-view></main>


</div>

</body>
<!-- script for d3 drawing of the senator voteCategory -->
<script type="text/javascript">

console.log("{{indexVM.senators.antiEnviroVote.length}}");

var results = [
	{
    voteCategory: "Anti-Environment Votes",
  votes:{{indexVM.senators.antiEnviroVote.length}}
},
	{
    voteCategory: "Pro-environment Votes",
    votes:{{indexVM.senators.proEnviroVote.length}}
  },
	{voteCategory: "Missed Votes", votes:{{
    indexVM.senators.missedVotes.length
  }} }
];

var gridWidth = 80;
var gridHeight = 5;
var layout = d3_iconarray.layout()
	.width(gridWidth)
	.height(gridHeight);
var width = 600;
var height = 40;
var radius = 2.5;
var margin = { top:radius*2, left:radius*2, bottom:radius*2, right:radius*2 }
var scale = d3.scaleLinear()
				.range([0, (width-(margin.left + margin.right))])
				.domain([0, gridWidth]);


console.log(scale.range())

d3.select('#width-first')
	.selectAll('div.result')
		.data(results)
	.enter()
		.append('div').attr('class','result')
			.call(arrayBars, true);

d3.select('#height-first')
	.selectAll('div.result')
		.data(results)
	.enter()
		.append('div').attr('class','result')
			.call(arrayBars, false);

function arrayBars(parent, widthFirst){
		layout.widthFirst(widthFirst);

		parent.append('p')
			.attr('class','bar-label')
			.html(function(d){
				return d.voteCategory;
			});

		parent.append('svg')
			.attr('width', width).attr('height', height)
		.append('g')
			.attr('transform','translate('+margin.left+','+margin.top+')')
			.attr('class',function(d){return d.voteCategory})
		.selectAll('circle')
			.data(function(d){ return layout( d3.range(0, d.votes, 1) ); })
		.enter()
			.append('circle')
				.attr('cx',function(d){ return scale(d.position.x); })
				.attr('cy',function(d){ return scale(d.position.y); })
				.attr('r', radius)
}
</script>
</html>
