<h2>Sign up</h2>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form method="post" action="/signup">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
  </div>

  <div>
    <label for="email">Password</label>
    <input type="password" name="password" id="password">
  </div>

  <input type="submit">
</form>
