@import "bourbon/bourbon";
@import "jeet/grid";

$primaryColor: hsl(195, 87%, 36%);
$successColor: hsl(157, 100%, 35%);
$fontMain: Oswald, sans-serif;
$fontSecondary: Georgia, serif;

body {
  font-family: $fontMain;
  color: darken($primaryColor, 15%);
}

a {
  text-decoration: none;
}

.centered {
  text-align: center;
}

// for the welcome page
.centeredPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 10px;
  background-image: url(../imgs/congress_lighter_opacity80perc.jpg);
  background-size: 100%;
  background-position:center;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 10px;
}

.centeredPrompt__item + .centeredPrompt__item {
  margin-top: 5px;
}

.centeredPromptLabel {
  color: darken($primaryColor, 20%);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 1px lighten($primaryColor, 20%);
}

.centeredPromptDetails {
  color: lighten($primaryColor, 80%);
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-family: $fontSecondary;
  text-shadow: 1px 1px darken($primaryColor, 20%);
}

.icon {
  color: lighten($primaryColor, 80%);
}

// for the nav bar
.siteHeader {
  font-family: $fontMain;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: $primaryColor;
}

.siteHeader__section {
  display: flex;
  align-items: center;
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 12px;
}

.siteHeader__item > a{
  text-decoration: none;
  color: lighten($primaryColor, 80%);
}

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: lighten($primaryColor, 80%);
  background-color: darken($primaryColor, 15%);
  border-radius: 4px;
}

.siteHeader__item:hover {
  background-color: darken($primaryColor, 5%);
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: lighten($primaryColor, 80%);
  margin-left: 5px;
  padding: 5px 15px;
}

.siteHeaderButton {
  cursor: pointer;
  color: lighten($primaryColor, 80%);
}

// for each senator in the index view
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid lighten($primaryColor, 50%);
  border-radius: 4px;
  overflow: hidden;
}

.card:hover {
  background-color: lighten($primaryColor, 60%);
}

.card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.card__descriptionIcon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card__descriptionText {
  color: lighten($primaryColor, 10%);
  font-size: 16px;
  text-align: center;
}

.card__btn {
  text-align: center;
  color: lighten($primaryColor, 80%);
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid lighten($primaryColor, 80%);
  background-color: lighten(complement($primaryColor), 10%);
  text-transform: uppercase;
}

.card__btn:hover {
  background-color: complement($primaryColor);
}

.card--fixedWidth {
  width: 190px;
  height: 235px;
  float: left;
  margin: 10px 10px;
}

.cardGroup {
  display: flex;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden;
}


.cardGroup__card {
  flex: 1 1 0;
  border: none;
  border-radius: 0;
}

.cardGroup__card + .cardGroup__card {
  border-left: 1px solid lighten($primaryColor, 50%);
}

.cardGroup__cardDescription {
  flex: 1 1 auto;
}

.cardGroup__card:hover {
  background-color: lighten($primaryColor, 100%);
}

.button {
  cursor: pointer;
  padding: 5px 15px;
  color: lighten($primaryColor, 80%);
  background-color: lighten(complement($primaryColor), 10%);
  font-size: 12px;
  border: 1px solid complement($primaryColor);
  border-radius: 4px;
}

.button > a{
  color: lighten($primaryColor, 80%);
}

.button--addOnLeft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button--addOnRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button:hover {
  background-color: darken(complement($primaryColor), 5%);
  border-radius: 4px;
}

.button--clear {
  color: $primaryColor;
  background-color: lighten($primaryColor, 80%);
  border: 1px solid lighten($primaryColor, 80%);
}

.form_block {
  max-width: 98%;
  margin: 10px 20px 0px 20px;
}

.form__title {
  font-size: 24px;
  font-weight: 400;
  color: darken($primaryColor, 10%);
  box-sizing: border-box;
}

.form__input {
  display: block;
  padding: 8px 12px;
  border: 1px solid lighten($primaryColor, 50%);
  font-size: 16px;
  width: 95%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  width: 98%;
}

.formSection+.formSection {
  border-left: none;
  margin: 10px 0px 0px 0px;
}

.form__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #373D44;
  margin-bottom: 6px;
}

.formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lighten($primaryColor, 50%);
  padding: 10px;
}

.formFooter__section {
  display: flex;
  align-items: center;
}

.formFooter__item + .formFooter__item {
  margin-left: 5px;
}

.formFooterFeedback {
  color: #86969C;
  font-size: 12px;
  line-height: 0;
}

.formFooterSpinner {
  animation: formFooterSpinner 1s infinite steps(8, end);
}

@keyframes formFooterSpinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-circle {
  width: 35px;
  border-radius: 50%;
  border: 1px solid lighten($primaryColor, 50%);
}

.img-circle:hover {
  background-color: darken($primaryColor, 5%);
  border-radius: 50%;
}




.card__title {
  text-align: center;
  color: darken($primaryColor, 15%);
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid lighten($primaryColor, 40%);
  border-top-radius: 4px;
  background-color: lighten($primaryColor, 60%);
}


.featureListItem {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 10px;
  border-top: 1px solid lighten($primaryColor, 50%);
}

.featureListItem__icon,
.featureListItem__description {
  padding: 5px 15px;
}

.featureListItem__icon {
  font-size: 50px;
  line-height: 0;
}

.featureListItem__description {
  color: lighten($primaryColor, 10%);
  width: 400px;
  font-size: 12px;
}


p.bar-label{
  margin:0px;
}

.Conservative{
  fill:#00F;
}
.Labour{
  fill:#F00;
}
.Liberal{
  fill:#EA0;
}
.SNP{
  fill:#DD0;
}
.DUP, .Other{
  fill:#AAA;
}
