body {
  font-family: Oswald, sans-serif;
  color: #074d64; }

a {
  text-decoration: none; }

.centered {
  text-align: center; }

.centeredPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 10px; }

.centeredPrompt__item + .centeredPrompt__item {
  margin-top: 5px; }

.centeredPromptIcon {
  font-size: 60px;
  line-height: 0; }

.centeredPromptLabel {
  color: #074d64;
  font-size: 30px;
  font-weight: 700;
  text-align: center; }

.centeredPromptDetails {
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-family: Georgia, serif; }

.icon {
  color: white; }

.siteHeader {
  font-family: Oswald, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #0c84ac; }

.siteHeader__section {
  display: flex;
  align-items: center; }

.siteHeader__item {
  padding: 5px 15px;
  font-size: 12px; }

.siteHeader__item > a {
  text-decoration: none;
  color: white; }

.siteHeader__item + .siteHeader__item {
  margin-left: 5px; }

.siteHeader__item.is-site-header-item-selected {
  color: white;
  background-color: #074d64;
  border-radius: 4px; }

.siteHeader__item:hover {
  background-color: #0a7194;
  border-radius: 4px; }

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
  margin-left: 5px;
  padding: 5px 15px; }

.siteHeaderButton {
  cursor: pointer;
  color: white; }

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #bcebfa;
  border-radius: 4px;
  overflow: hidden; }

.card:hover {
  background-color: #ecf9fe; }

.card__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px; }

.card__descriptionIcon {
  font-size: 32px;
  margin-bottom: 10px; }

.card__descriptionText {
  color: #0fa8db;
  font-size: 16px;
  text-align: center; }

.card__btn {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid white;
  background-color: #db420f;
  text-transform: uppercase; }

.card__btn:hover {
  background-color: #ac340c; }

.card--fixedWidth {
  width: 190px;
  height: 235px;
  float: left;
  margin: 10px 10px; }

.cardGroup {
  display: flex;
  border: 1px solid #CAD0D2;
  border-radius: 4px;
  overflow: hidden; }

.cardGroup__card {
  flex: 1 1 0;
  border: none;
  border-radius: 0; }

.cardGroup__card + .cardGroup__card {
  border-left: 1px solid #bcebfa; }

.cardGroup__cardDescription {
  flex: 1 1 auto; }

.button {
  cursor: pointer;
  padding: 5px 15px;
  color: white;
  background-color: #db420f;
  font-size: 12px;
  border: 1px solid #ac340c;
  border-radius: 4px; }

.button > a {
  color: white; }

.button--addOnLeft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.button--addOnRight {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.button:hover {
  background-color: #942d0a;
  border-radius: 4px; }

.button--clear {
  color: #0c84ac;
  background-color: white;
  border: 1px solid white; }

.form_block {
  max-width: 98%;
  margin: 10px 20px 0px 20px; }

.form__title {
  font-size: 24px;
  font-weight: 400;
  color: #095f7c;
  box-sizing: border-box; }

.form__input {
  display: block;
  padding: 8px 12px;
  border: 1px solid #bcebfa;
  font-size: 16px;
  width: 95%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; }

.form-control {
  width: 98%; }

.formSection + .formSection {
  border-left: none;
  margin: 10px 0px 0px 0px; }

.form__label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #373D44;
  margin-bottom: 6px; }

.formFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bcebfa;
  padding: 10px; }

.formFooter__section {
  display: flex;
  align-items: center; }

.formFooter__item + .formFooter__item {
  margin-left: 5px; }

.formFooterFeedback {
  color: #86969C;
  font-size: 12px;
  line-height: 0; }

.formFooterSpinner {
  animation: formFooterSpinner 1s infinite steps(8, end); }

@keyframes formFooterSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.img-circle {
  width: 35px;
  border-radius: 50%;
  border: 1px solid #bcebfa; }

.img-circle:hover {
  background-color: #0a7194;
  border-radius: 50%; }

.card__title {
  text-align: center;
  color: #074d64;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  border-top: 1px solid #8ddcf7;
  border-top-radius: 4px;
  background-color: #ecf9fe; }

.featureListItem {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 10px;
  border-top: 1px solid #bcebfa; }

.featureListItem__icon,
.featureListItem__description {
  padding: 5px 15px; }

.featureListItem__icon {
  font-size: 50px;
  line-height: 0; }

.featureListItem__description {
  color: #0fa8db;
  width: 400px;
  font-size: 12px; }

p.bar-label {
  margin: 0px; }

.Conservative {
  fill: #00F; }

.Labour {
  fill: #F00; }

.Liberal {
  fill: #EA0; }

.SNP {
  fill: #DD0; }

.DUP, .Other {
  fill: #AAA; }

/*# sourceMappingURL=styles.css.map */
