
<div data-ng-if="showVM.senator">
  <h2 class="centered">Sen. {{showVM.senator.firstName}} {{showVM.senator.lastName}}</h2>

  <div class="cardGroup">
    <div class="card cardGroup__card">
      <div class="card__title">League of Conservation Voters Rating</div>
      <div class="card__description cardGroup__cardDescription">
        <div class="card__descriptionText">2015 Score: {{showVM.senator.score2015}}%</div>
        <div class="fa fa-globe card__descriptionIcon fa-5x"></div>
        <div class="card__descriptionText">Lifetime Score: {{showVM.senator.scoreLifetime}}%</div>
      </div>

    </div>
    <div class="card cardGroup__card">
      <div class="card__title">User Ratings</div>
      <div class="card__description cardGroup__cardDescription">
        <div class="fa fa-users card__descriptionIcon fa-5x"></div>
        <div class="card__descriptionText">{{showVM.senator.reviews.length}} User Reviews</div>
      </div>
    </div>
  </div>

  <h3 class="centered">Anti-environment Votes</h3>
  <div data-ng-if="showVM.senator.antiEnviroVotes.length != 0" data-ng-repeat="antiEnviroVote in showVM.senator.antiEnviroVotes">
    <div>{{antiEnviroVote}}</div>
  </div>
  <div data-ng-if="!showVM.senator.antiEnviroVotes.length != 0">
    <p>Sen. {{showVM.senator.lastName}} didn't cast any anti-environment votes in 2015.</p>
  </div>

  <h3 class="centered">Pro-environment Votes</h3>
  <div data-ng-if="showVM.senator.proEnviroVotes.length != 0" data-ng-repeat="proEnviroVote in showVM.senator.proEnviroVotes">
    <div>{{proEnviroVote}}</div>
  </div>
  <div data-ng-if="!showVM.senator.proEnviroVotes.length != 0">
    <p>Sen. {{showVM.senator.lastName}} didn't cast any pro-environment votes in 2015.</p>
  </div>

  <h3 class="centered">Missed Votes</h3>
  <div data-ng-if="showVM.senator.missedVotes.length != 0" data-ng-repeat="missedVotes in showVM.senator.missedVotes">
    <div>{{missedVotes}}</div>
  </div>
  <div data-ng-if="!showVM.senator.missedVotes.length != 0">
    <p>Sen. {{showVM.senator.lastName}} didn't miss any envrionmental votes in 2015.</p>
  </div>

  <h3 class="centered" id="reviews">User Reviews</h3>

  <div data-ng-repeat="review in showVM.senator.reviews track by $index">
    <div class="featureListItem">
      <div class="featureListItem__icon">
        <div class="fa fa-user"></div>
      </div>
      <div class="featureListItem__description">{{review}}</div>
      <button class="button" data-ng-click="showVM.removeReview($index)">Delete Review</button>
    </div>
  </div>

  <textarea class="form__input" type="text" placeholder="Add your review here" data-ng-model="showVM.newReview"/></textarea>
  <div class="card__btn" data-ng-click="showVM.addReview()" type="submit">Add a review</div>


  <div data-ng-if="!showVM.senator">
    <h2>That senator couldn't be found!</h2>
  </div>
