<main data-ng-controller="senatIndexCtrl as vm">
  <input class="form__input" type="text" placeholder="Filter on..." data-ng-model="vm.filter_on" />

  <div data-ng-repeat="senator in indexVM.senators | filter: vm.filter_on | orderBy: vm.sort_on : vm.is_descending">
    <div class="card card--fixedWidth">
      <a href="/senators/{{senator.lastName}}">
        <div class="card__description">
          <div class="icon fa fa-flask card__descriptionIcon">IMG</div>
          <div class="card__descriptionText">
            <h3>{{senator.firstName}} {{senator.lastName}}</h3>
            <p>{{senator.party}} – {{senator.state}} – {{senator.score2015}}%</p>
          </div>
        </div>
        <div class="card__btn">Learn More</div>
      </a>
    </div>
  </div>
